@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


.borderDarkTopBottom{
    border-bottom:   #000000 2px solid;
}

.bannerText{
    text-align: center !important;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}