.btnOne button{
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
}

.btnOne button:hover{
    background-color: #ffffff;
    color: #000000;
    border: #000000 2px solid;
    margin-top: 20px;
}

.btnThree button, .btnFour button{
    background-color: #ffffff;
    color: #000000;
    margin-top: 20px;
    min-width: 100px;
}


.btnThree button:hover, .btnFour button:hover{
    background-color: #000000;
    color: #ffffff;
    border: #ffffff 2px solid;
    margin-top: 20px;
}
