.cardWithBG{
    margin: 40px 10%;
    background-image: url("/images/cardbgone.jpg");
    background-size: cover;
    height: 500px;
}

.cwbWidth{
    display: block ;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.cwbBody{
   padding: 20px 0px !important;
}


/*starts here
*/


.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    padding: 20px;
}

.card .cardHeader.no-border {
    border: 0;
}
.card .cardHeader {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.cardHeader:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget .widgetTitleWrap {
    display: flex;
    align-items: center;
}

.widget .widgetTitleWrap .widgetDate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background-color: #edf1fc;*/
    background-color: #000000;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget .widgetTitleWrap .widgetDate .dateDay {
    /*color: #4e73e5;*/
    color: #ffffff;

    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget .widgetTitleWrap .widgetDate .dateMonth {
    /*color: #4e73e5;*/
    color: #ffffff;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}


.widget .widgetTitleWrap .meetingInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.widget .widgetTitleWrap .meetingInfo .infoTitle {
    color: #3c4142;
    font-size: 14px;
}

.widget .widgetTitleWrap .meetingInfo .infoTime {
    color: #B1BAC5;
    font-size: 13px;
}

.meetingDetails{
    margin-top: 20px;
}

.actionText{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}